$font-family: sans-serif;
$base-color: #007fa3;
$background-color: #d8d8d8;
$box-padding: 18.5px;
$header-font-size: 36px;
$person-container-margin: 18.5px;
$person-container-height: 112px;
$person-container-width: 212px;
$avatar-size: 80px;
$person-name-fontsize: 18px;
$person-name-fontcolor: #e93939;
$delete-btn-color: #007fa3;
$loader-size: 40px;
